<header>
  <div class="global-navi global-navi-login clearFix">
    <div class="global-navi-inner">
      <div class="global-navi--left">
        <%= image_tag("booklog_top.png", :size => "60x60", :alt => "アイコン", :class => "navi-menu top-icon") %>
        <ul class="menu--lists">
          <li class="navi-manu">ランキング</li>
          <li class="navi-manu">新刊情報</li>
          <li class="navi-manu">談話室</li>
          <li class="navi-manu">まとめ</li>
          </ul>
        <input type="text" name="name" placeholder="作品・著者名で検索して本棚登録" class="book--search--field navi-manu">
        <input type="button" value="!!!" class="book--search--btn navi-manu">
      </div>
      <div class="global-navi--right">
        <ul>
          <li class="navi-manu--right">user</li>
          <li class="navi-manu--right">ホーム</li>
          <li class="navi-manu--right">本棚</li>
          <li class="navi-manu--right">menu</li>
        </ul>
      </div>

    </div>
  </div>
</header>