.root-path {
  font-size: 12px;
}

.search-heading{
  margin: 15px 0;
  font-size: 35px;
}

#books-search {
  .book--search {
    width: 300px;
    font-size: 15px;
    padding-left: 10px;
    border: solid 1px black;
    float: left;
    height: 40px;
    border-radius: 3px;
    box-sizing: border-box;
  }
  #book-search--body {
    margin-left: 10px;
    color: #ffffff;
    font-size: 20px;
    width: 76px;
    height: 40px;
    border-radius: 3px;
    background-color: #4ea6cc;
    float: left;
    padding: 10px 27px;
    box-sizing: border-box;
    &:hover {
      background-color: #000000;
    }
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.serch-introduction {
  margin: 15px 0;
  font-size: 13px;
}

.t10M {
  font-weight: bold;
}

.item-unit {
  margin-top: 10px;
  width: 650px;
  .unit {
    font-size: 12px;
    color: #B4B4B4;
    float: left;
    background-color: #ffffff;
    margin-right: 10px;
    padding: 0 10px;
    border: solid 1px #B4B4B4;
    border-radius: 5px;
  }
}
.edit-list {
  margin: 25px 0 30px;
  width: 640px;
  box-sizing: border-box;
}
  .tabletype-edit {
    margin-top: -5px;
    border: solid 5px #000000;
    width: 640px;
    .td-item {
      height: 110px;
      .td-info {
        width: 640px;
        background-color: #ffffff;
        height: 110px;
        border-bottom: solid 1px #DADADA;
        float: left;
        padding: 10px 0 10px 15px;
        box-sizing: border-box;
        .book-prof {
          .book-delete-btn {
            float: right;
            margin-right: 10px;
            color: red;
            font-weight: bold;
            &:hover {
              cursor: pointer;
              opacity: 0.7;
            }
          }
          .book-title {
            font-weight: bold;
            &-link {
              color: #000000;
              text-decoration: underline;
            }
          }
          .agregate {
            box-sizing: border-box;
            margin: 10px 0;
            font-weight: bold;
            .btn-users {
              margin-right: 5px;
              color: #DB4740;
            }
            .btn-rating {
              margin-right: 5px;
              color: #F58C29;
            }
            .btn-reviews {
              color: #4ea6cc;
            }
          }
          .desc-mini {
            .book-info {
              width: 640px;
              float: left;
              box-sizing: border-box;
            }
          }
        }
      }
    }
    .book-registration {
      background-color: #ffffff;
      height: 210px;
      width: 640px;
      box-sizing: border-box;
    }
    .book-cover {
        float: left;
        width: 190px;
        height: 210px;
        background-color: #F0F0F0;
        box-sizing: border-box;
        position: relative;
    .book-image {
      width: 100px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
      }
      .desc {
        float: left;
        width: 450px;
        height: 210px;
        position: relative;
        .add-book-area {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          height: 60px;
          width: 200px;
          border: solid 5px #4E94B1;
          color: #FFFFFF;
          background-color: #5EAFD2;
          text-align: center;
          padding: 10px 0;
          border-radius: 8px;
          &:hover{
            cursor: pointer;
            opacity: 0.7;
          }
          .add-book-btn {
            font-size: 20px;
            font-weight: bold;
          }
        }
        .after-area {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          height: 60px;
          width: 200px;
          padding: 10px 0;
          border: solid 5px #eaed5c;
          border-radius: 8px;
          text-align: center;
          background-color: #eaed5c;
          .after-add-book {
            color: #FFFFFF;
            font-size: 20px;
          }
        }
      }
      .after-add-book-area {
        float: left;
        width: 450px;
        height: 210px;
        .edit-tab {
          cursor: pointer;
          color: #999999;
          font-weight: bold;
          height: 210px;
          line-height: 18px;
          border-right: solid 1px #000000;
          float: left;
          &-basic {
            line-height: 18px;
            margin: 0 auto;
            padding: 20px 14px;
            font-size: 16px;
            height: 105px;
            background-color: #F8F8F8;
            writing-mode: tb-rl;
          }
          &-review {
            margin: 0 auto;
            writing-mode: tb-rl;
            padding: 20px 14px;
            font-size: 16px;
            height: 105px;
            background-color: #000000;
          }
        }
        .edit-review-wapper {
          .edit-review-form {
            width: 20px;
            height: 10px;
            float: left;
            .edit-review-textarea {
              width: 350px;
              height: 100px;
              margin: 15px 25px;
              border-radius: 3px;
              padding: 8px;
              line-height: 16px;
              border: 1px #1e1e1e solid;
            }
            .edit-review-btn-area {
              text-align: center;
              .edit-review-btn {
                margin: 0 175px;
                padding: 10px 20px;
                border: none;
                display: inline-block;
                color: #ffffff;
                font-size: 12px;
                width: 70px;
                cursor: pointer;
                border-radius: 5px;
                background-color: #4ea6cc;
                &:hover {
                  background-color: #000000;
                }
              }
            }
          }
        }
      }
  }
.pagination {
  text-align: center;
  margin: 20px auto 40px;
  font-size: 12px;
  color: #000000;
  .current {
    color: #ffffff;
    margin-right: 6px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #000000;
    border: solid 1px #dadada;
    line-height: 30px;
  }
  a {
    color: #000000;
    margin-right: 6px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #FFFFFF;
    border: solid 1px #dadada;
    line-height: 30px;
    &:hover {
      background-color: #f0f0f0;
    }
  }
  a {
    color: #000000;
    &:visited {
      color: #000000;
    }
  }
}

#users-header-profile-wrapper {
  background-color: #A1A1A1;
  #users-header-profile {
    width: 1378px;
    height: 250px;
    background-color: #F0F0F0;
    .root-path {
      float: left;
      padding: 10px 20px;
    }
    .user-wrapper {
      height: 203px;
      width: 1338px;
      background-color: #FFFFFF;
      float: left;
      margin: 0 20px;
      border-radius: 5px;
    }
  }
}
.shelf-header {
  height: 47px;
  width: 100%;
  background-color: #CDCDCD;
  &-menu {
    margin: 0 20px;
    height: 47px;
  }
}
#shelf {
  min-height: 700px;
  width: 100%;
  background-color: #AF8856;
  overflow: auto;
  .shelf-area {
    margin: 60px 80px;
    overflow: auto;
    .book-area {
      width: 140px;
      height: 225px;
      float: left;
      .book-covar-image {
        width: 110px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
.book-registration-form {
  .category {
    float: left;
  }
}
