.global-navi {
  height: 60px;
  background-color: #8BAFBF;

  &-inner {
    width: 100%;
    height: 60px;
    margin-left: 24px;
    float: left;
    line-height: 60px;
  }
  .global-navi--left {
    color: #ffffff;
    .navi-manu {
      margin-right: 20px;
      float: left;
    }
    .top-icon {
      float: left;
      margin-right: 30px;
      height: 60px;
    }
    .navi-menu {
      height: 60px;
    }
    .menu--lists {
      float: left;
    }
    .book--search--field {
      padding: 0 10px;
      margin: 15px 0;
      width: 240px;
      height: 30px;
      border: 1px;
    }
    .book--search--btn {
      height: 30px;
      background-color: white;
      margin: 15px 0;
      border: 1px;
    }
  }

  &--right {
    width: 220px;
    float: right;
    color: #ffffff;
    margin-right: 45px;

    .navi-menu--right {
      float: left
      }

    .registration-btn {
      background-color: #DA4740;
      padding: 8px 12px;
      margin-right: 15px;
      }
    .registration-btn:hover {
      background-color: #24292E;
    }

    .login-btn {
      background-color: #24292E;
      padding: 8px 12px;
    }
    .login-btn:hover {
      background-color: #38aef0;
    }

  }

}
