#contains {
  padding-top: 60px;
  background-color: #FFFBF1;
  overflow: auto;
}
#contains:after {
  content: "";
  display: block;
}

  .global-navi {
    height: 60px;
    background-color: #8BAFBF;
    position: fixed;
    width: 100%;
    z-index: 1;

    &-inner {
      width: 100%;
      height: 60px;
      margin-left: 24px;
      float: left;
      line-height: 60px;
    }
    .global-navi--left {
      color: #ffffff;
      .navi-manu {
        margin-right: 20px;
        float: left;
      }
      .top-icon {
        float: left;
        margin-right: 30px;
        height: 60px;
      }
      .navi-menu {
        height: 60px;
      }
      .menu--lists {
        float: left;
      }
      .book--search--field {
        box-sizing: border-box;
        padding: 0 10px;
        margin: 15px 0;
        width: 240px;
        height: 30px;
      }
      .fa-search {
        margin-top: 15px;
        box-sizing: border-box;
        height: 30px;
        width: 35px;
        padding: 6px 0 8px 0;
        text-align: center;
        box-sizing: border-box;
        font-size: 16px;
        color: #555555;
        background-color: #ffffff;
        border: solid thin #D8D9D9;
        cursor: pointer;
      }
      .fa-search:hover {
        height: 30px;
        color: #ffffff;
        box-sizing: border-box;
        background-color: #38aef0;
        border: none;
      }
    }

    &--right {
      float: right;
      color: #ffffff;
      margin-right: 45px;
      height: 60px;
      box-sizing: border-box;
      .registration-btn {
        background-color: #DA4740;
        padding: 8px 12px;
        margin-right: 15px;
        text-decoration: none;
      }
      .registration-btn:hover {
        background-color: #24292E;
      }

      .login-btn {
        background-color: #24292E;
        padding: 8px 12px;
      }
      .login-btn:hover {
        background-color: #38aef0;
      }
      .header-user-iamge {
        float: left;
        margin: 15px 15px 15px 0;
        height: 30px;
      }
      .fa-home {
        float: left;
        margin: 15px 15px 15px 0;
        font-size: 30px;
        color: #FFFFFF;
        &:hover {
          opacity: 0.7;
        }
      }
      .fa-book {
        float: left;
        margin: 15px 15px 15px 0;
        font-size: 30px;
        color: #FFFFFF;
        &:hover {
          opacity: 0.7;
        }
      }
      .logout-btn {
        background-color: #000000;
        padding: 8px 12px;
        &:hover {
          background-color: #38aef0;
        }
      }
    }
  }

.link-btn:visited {
  color: #ffffff;
  }

.footer-body {
  margin-top: 20px;
  clear: both;
  padding-top: 15px;
  background-color: #E4E4E4;
  overflow: auto;
  .footer-list {
    background-color: #FFFFFF;
    margin: 15px auto 20px;
    height: 200px;
    width: 900px;
    border-radius: 8px;
  }
  h1 {
    padding: 15px 0 20px 10px;
    font-weight: bold;
    font-size: 12px;
  }
  .copyrights {
    color: #848484;
    font-size: 8px;
    width: 900px;
    margin: 10px auto;
  }
  .agreement  {
    font-size: 8px;
    float: left;
  }
  .copyright {
    font-size: 8px;
    float: right;
    margin-bottom: 10px;
  }
}

.flash-message-area {
  float: right;
  position: fixed;
  top: 70px;
  right: 20px;
  &-text {
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #3E90C0;
    margin-top: 10px;
    font-size: 14px;
    padding: 10px 30px;
  }
  .flash-message-success {
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #3E90C0;
    margin-top: 10px;
    font-size: 14px;
    padding: 10px 30px;
}
}
