%footer.footer-body
  .footer-list
    %h1
      人気の作家
  .footer-list
    %h1
      人気の作品
  .footer-list
  .copyrights
    %p.agreement
      利用規約 | Cookieの使用について | 会社概要 | プライバシーポリシー
    %p.copyright
      Copyright&copy; 2017 SG,inc ALL Rights Reserved.
